# Configuración de base de datos PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=0000
DB_NAME=acuarioiot

# Configuración MQTT
MQTT_BROKER=mqtt://localhost:1883
MQTT_TOPIC=acuario/sensores/sensor-01
MQTT_CLIENT_ID=acuario-monitor-backend

# Puertos
PORT=4000
